.news {
  background: no-repeat left top url(../public/news_bg_img.svg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  min-height: 600px;
  padding: 0 156px;
  color: var(--black);
  font-size: var(--heading2);
  padding: 30px 0;
}
.contents {
  composes: news;
  background-image: url(../public/contents_img.svg);
}
